:root {
  --main-black: rgba(39, 39, 39, 1);
  --main-grey: rgba(24, 24, 24, 1);
  --main-light: rgba(255, 255, 255, 1);
  --main-yellow: rgba(244, 206, 12, 1);
  --bright-yellow: rgba(255, 199, 0, 1);
  --btn-black: rgba(13, 12, 17, 1);
  --btn-no_active: rgba(218, 218, 218, 1);
  --text_btn-no_active: rgba(142, 142, 142, 1);
  --main-green: rgba(59, 222, 124, 1);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  background-color: var(--white-color);
  cursor: pointer;
  box-shadow: none;
  border: none;

  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  box-shadow: none;
  border: none;
}

body {
  font-family: 'PT Serif', sans-serif;
  color: var(--main-black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  // &.no-scroll {
  //   overflow: hidden;
  // }
}

.btn {
  width: 189px;
  height: 41px;
  margin-bottom: 22px;
  border: none;
  border-radius: 20px;
  background-color: var(--main-yellow);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;

  margin-right: auto;
  margin-left: auto;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--btn-black);

  @media screen and (min-width: $tablet) {
      width: 230px;
        height: 50px;
        border-radius: 40px;
        font-size: 18px;
    }
  
    // @media screen and (min-width: $desktop) {
    // width: 290px;
    //   height: 60px;
    //   border-radius: 40px;
    //   font-size: 20px;
    // }

  &--black {
    border: var(--main-light) 1px solid;
    color: var(--main-light);
    background-color: transparent;
  }

  &--no-active {
    background-color: #dadada;
    color: rgba(142, 142, 142, 1);
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);

    // margin-top: auto;
    // margin-bottom: 0;
    justify-content: end;
  }

&--next {
  margin: 0;
}
}

// main {
//     flex: 1 1 auto;
// }

// .container {
//     margin: 0 auto;
//     padding: 0 16px;

//     @media screen and (min-width: $mobile) {
//         max-width: $mobile;
//     }

//     @media screen and (min-width: $tablet) {
//         max-width: $tablet;
//     }

//     @media screen and (min-width: $desktop) {
//         max-width: $desktop;
//     }
// }
