<section>
  <div class="menu invisible">
    <button class="menu__btn-close" type="button">
      <svg class="menu__svg-close" width="28" height="28">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="menu__list">
      <li class="menu__item">
        <a href="#main" class="menu__link menu__link--main">Главная </a>
      </li>
      <li class="menu__item">
        <a href="#info" class="menu__link menu__link--info"
          >Информация о тесте</a
        >
      </li>
      <li class="menu__item">
        <a href="#test" class="menu__link menu__link--test">Пройти тест</a>
      </li>
    </ul>
  </div>
</section>
