<button class="header__btn" type="button">
  <svg width="24" height="16">
    <use href="./images/sprite.svg#icon-menu"></use>
  </svg>
</button>

<p class="result--tittle">Ваш результат рассчитан:</p>
<p class="result"></p>
<p class="result--">Скорее получите свой результат!</p>
<p class="result--">
  В целях защиты персональных данных результат теста, их подробная интерпретация
  и рекомендации доступны в виде голосового сообщения по звонку с вашего
  мобильного телефона
</p>
<p class="result--">Звоните скорее, запись доступна всего 10:00 минут</p>
<div class="result--callBox">
  <svg class="result--svg">
    <use href=${call}></use>
  </svg>
  <p class="result--">позвонить и прослушать результат</p>
</div>
