<section>
  <div id="main" class="main-page__hero">
    
    <div class="main-page__titleBox">
    <p class="main-page__text">Пройдите точный и быстрый</p>
    <h1 class="main-page__title">
      тест на определение IQ
    </h1>
    </div>
    <div class="main-page__box">
    <button class="btn btn__start">пРойти тест</button>
    <p class="main-page__text">
      и получите рекомендации <br />по развитию своего интеллекта
    </p>
    <p class="main-page__text main-page__text--yellow">
      и улучшению финансового <br />благосостояния и личной жизни
    </p>
    <a class="main-page__btn" href="#info">
      <svg class="main-page__btn-arrow" width="16" height="16">
        <use href="./images/sprite.svg#icon-arrow"></use>
      </svg>
      <p class="main-page__btn-text">Подробнее</p>
    </a>
    </div>
  </div>

  <div id="info" class="main-page__discription">
    <svg class="main-page__quotation-mark" width="23" height="22">
      <use href="./images/sprite.svg#icon-quotation-mark"></use>
    </svg>
    <p class="main-page__discription-text">
      Профессиональный <br />IQ-тест позволяет не <br />только определить
      <br />коэффициент вашего <br />интеллекта,<br />
      но и выработать список <br />рекомендаций для <br />повышения этого
      <br />показателя.
    </p>
    <svg class="main-page__quotation-mark--reverse" width="23" height="22">
      <use href="./images/sprite.svg#icon-quotation-mark"></use>
    </svg>
  </div>

  <div class="main-page__details">
    <p class="main-page__details-text">
      Также по результатам теста<br />
      <span class="main-page__details-text--upper">вы получите</span>
      подробные<br />
      <span class="main-page__details-text--upper">советы</span> по определению
      наиболее <br />
      перспективной
      <span class="main-page__details-text--upper">для вашего <br />типа</span>
      <span class="main-page__details-text--weight">интеллекта</span>
      <span class="main-page__details-text--upper"
        >сферы <br />деятельности,<br
      /></span>
      которая принесет вам скорейший <br />финансовый результат.
    </p>
    <img src="./images/brain.png" alt="brain" class="main-page__img-brain" />
    <button class="btn btn__start">
      <p class="btn-text">пройти тест</p>
    </button>
  </div>

  <div id="test" class="main-page__brief">
    <img src="./images/lightning(1).png" alt="lightning" class="main-page__brief-img1">
    <img src="./images/lightning(2).png" alt="lightning" class="main-page__brief-img2">
    <p class="main-page__details-text--white">
      Прохождение теста займет у <br />вас не более
      <span class="main-page__details-text--yellow">12 минут,</span> а его
      <br /><span class="main-page__details-text--weight">результаты</span> вы
      сможете <br /><span class="main-page__details-text--yellow"
        >использовать всю жизнь.</span
      >
    </p>
    <p class="main-page__details-text main-page__text-box">Профессиональная <br />интерпретация и детально <br /><span class="main-page__details-text--weight">проработанные <br />рекомендации</span> позволят вам <br />качественно <span class="main-page__details-text--weight"></span>изменить все <br />аспекты своей
    жизни:</span> от <br />финансового до любовного.</p>
    <button class="btn btn--black btn__start">
      <p class="btn-text">пройти тест</p>
    </button>
  </div>
</section>
