
<div class="question__container">
    <progress class="question__progress" max="100" value="70"></progress>

    <!-- <div class="question__box"> -->
        <div class="question">
            <p class="question__text">Ваш пол:</p>
        </div>
       
        <ul class="answer__list">
            <li class="answer__ell">
                <span class="answer__radioBtn"></span>
                <span class="span answer__text">Мужчина</span>
            </li>
            <li class="answer__ell">
                <span class="answer__radioBtn"></span>
                <span class="span answer__text">Женщина</span>
            </li>
        </ul>
    <!-- </div> -->

    <button type="button" class="btn btn--no-active">
        <p class="btn-text">далее</p>
    </button>
 
   
</div>
